.expand.filter {
    // width: 29rem;
    // height: 1.5rem;
    // display: flex;
    // background-color: aqua;
    // border-radius: 1rem;
    // z-index: 10;
    // padding: 1px;
    margin-left: 1.5rem; 
    width: 6.5rem;
    height: 2rem;
    display: flex;
    // background-color: aqua;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 1rem;
    // z-index:: 10;
    // border-width: thin;
    // border-color: black;
    // border-style: solid;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    
    .filter-button {
        // align-self: flex-start;
        // transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        font-size: 0.975rem;
        cursor: pointer;
        // z-index: 10;
        display: flex;
        margin-top: 0.25rem;
        margin-left: 1rem;
        justify-content: center;
        align-items: center;
        flex-direction: row;
      }
    &:hover {
        // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        background-color: rgba(64, 119, 192, 0.192);
        border-width: 0px;
        cursor: pointer;
    }
  }
     
  .label-filter-text{
    margin-left: 0.5rem;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    // margin-top: 0.2rem;
    cursor: pointer;
    // z-index: 10;
  }
  
  
  .expanded.filter {
    width: 29rem;
    height: 20rem;
    display: flex;
    background-color: rgba(64, 119, 192, 0.192);
    // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    // border-width: thin;
    // border-color: black;
    // border-style: solid;
    border-radius: 1rem;
    margin-left: 1.5rem;
    align-self: flex-start;
    flex-direction: column;
    // z-index:: 10;
    // padding: 10px;
    .filter-button {
        align-self: flex-start;
        // transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        font-size: 0.975rem;
        cursor: pointer;
        // z-index: 10;
        display: flex;
        margin-top: 0.25rem;
        margin-left: 1rem;
        justify-content: center;
        align-items: center;
        // flex-direction: row;
      }
  }
  
  
  .filter, .filter i { 
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  }
  .flterIcon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    align-self: flex-start;
    margin-left: -0.25rem;
    display: flex;
    width: 1.25rem;
    height: 1.5rem;
  }
  
  
  
  .remove.icon:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: currentColor;
    border-radius: 10px;
    transform: rotate(-45deg);
    z-index: 10;
  }
  
  .remove.icon:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: currentColor;
    border-radius: 10px;
    transform: rotate(45deg);
    // z-index:: 10;
  }
  
  .remove.icon {
    color: rgb(51, 51, 51);
    position: absolute;
    margin-left: 3px;
    margin-top: 10px;
    // z-index:: 10;
  }
  
  .plus.icon:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: currentColor;
    border-radius: 10px;
    transform: rotate(90deg);
    // z-index:: 10;
  }
  
  .plus.icon:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    border-radius: 10px;
    background-color: currentColor;
    // z-index:: 10;
  }
  
  .plus.icon {
    color: rgb(51, 51, 51);
    position: absolute;
    margin-left: 3px;
    margin-top: 10px;
    // z-index:: 10;
  }
  
  .icon, .icon:before, .icon:after, .icon i, .icon i:before, .icon i:after { 
    transition: all 0.4s ease;
  }
  
.checkboxes {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // padding: 10px;
    padding: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    flex: flex-grow;
    overflow: auto;
    overflow-x: hidden;
}

.checkboxes::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    // padding-right: 2px;
	border-radius: 10px;
	// background-color: rgba(0, 0, 0, 0.055);
}
.checkboxes::-webkit-scrollbar:hover {
    /* Select the down or left scroll button when it's being hovered by the mouse */
    background-color: rgba(0, 0, 0, 0.055);
    border-radius: 10px;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 }
.checkboxes::-webkit-scrollbar
{   
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    width: 10px;
    border-radius: 10px;
	background-color: rgba(245, 245, 245, 0);
}

.checkboxes::-webkit-scrollbar-thumb
{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	border-radius: 10px;
	// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(207, 207, 207, 0.76);
}